<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IT401 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 
    <h1> ☕ The Perfect Cup</h1>
     <h2>Fresh coffee, warm moments.</h2>

        <p>
            Cozy Cup Café offers freshly brewed coffee in a relaxing and
            welcoming atmosphere. Explore our menu and find your new favorite drink.
        </p>

        <p>Created by Nancy Perez</p>

        <a href="{{ url_for('menu') }}" class="button">View Our Menu</a>
</body>
</html>
